{% extends 'base.html' %}

{% block nav %}
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Категории
    </a>
    <ul class="dropdown-menu">
        {% for key, category in categories %}
            <li><a class="dropdown-item" href="{% url 'product_by_category' key %}">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <form class="d-flex" role="search">
        {{ search_form.search }}
        <button class="btn btn-outline-success ms-2" type="submit">Найти</button>
    </form>
{% endblock %}


{% block content %}
    <h1>Список товаров</h1>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'product_add' %}" method="POST">
                {% include 'partial/product_form.html' with button_text='Создать' %}
            </form>
        </div>
    </div>

    {% include "partial/product_list.html" %}
{% endblock %}