{% extends 'base.html' %}

{% block nav %}
    <form class="d-flex" role="search">
        {{ search_form.search }}
      <button class="btn btn-outline-success ms-2" type="submit">Найти</button>
    </form>
{% endblock %}


{% block content %}
    <h1>{{ category }}</h1>
    <div class="card">
        <div class="card-body">
            <form action="{% url 'product_add' %}" method="POST">
                {% include 'partial/product_form.html' with button_text='Создать' %}
            </form>
        </div>
    </div>
    {% include "partial/product_list.html" %}
{% endblock %}