{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <h5 class="card-header">{{ product.name }}</h5>
        <div class="card-body">
            <p class="card-text">Цена: {{ product.price }}</p>
            <p class="card-text">Категория: {{ product.get_category_display }}</p>
            <p class="card-text">Остаток: {{ product.balance }}</p>
            <p class="card-text">Описание товара: {{ product.description }}</p>
            {% include 'partial/form_add_to_cart.html' %}
            <a href="{% url 'product_update' product.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}